::-webkit-scrollbar {
  display: none;
}
body {
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.box-main {
  background-color: #f2f6fc;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 1%;
  align-content: center;
  justify-content: space-around;
  list-style-type: none;
}
.box-sub {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 28%;
  height: 28%;
  margin: 1%;
  padding: 1%;
  align-content: center;
  text-align: center;
  display: inline-block;
}
/*Link Formatting*/
a:link,
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: blue;
}
/*Dropdown Content*/
.dropdown {
  position: relative;
  display: inline-block;
}
#dropdown-content {
  z-index: 100;
  width: 250%;
  padding: 10%;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px #00000025;
  text-align: left;
}
.dropdown:hover #dropdown-content {
  display: block;
}
