/*Custom Scrollbar Styling*/
::-webkit-scrollbar-track {
  background: #2c2f33;
}
::-webkit-scrollbar-thumb {
  background-color: #23272a;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a4145;
}
/*Main Styling*/
body {
  background: #2c2f33;
  color: #ffffff;
}
/*Box Main and Box Sub Styling*/
.box-main {
  background-color: #23272a;
}
.box-sub {
  background: #2c2f33;
}
/*Link Styling*/
a:link,
a:visited {
  color: #ffffff;
}
a:hover {
  color: #0000ff;
}
/*Dropdown Content Styling*/
#dropdown-content {
  box-shadow: 0em 0.4em 0.8em 0em #00000080;
}
