::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  border: 0.05em solid #000000;
}
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.box-main {
  border: 0.05em solid #000000;
  border-radius: 0.5em;
  margin: 1%;
  align-content: center;
  justify-content: space-around;
  list-style-type: none;
}
.box-sub {
  border: 0.05em solid #000000;
  border-radius: 0.5em;
  width: 28%;
  height: 28%;
  margin: 1%;
  padding: 1%;
  align-content: center;
  text-align: center;
  display: inline-block;
}
#context-menu {
  position: fixed;
  width: 10%;
  padding: 0.5%;
  z-index: 2000;
}
/*Link Formatting*/
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  color: blue;
  cursor: pointer;
}
/*Dropdown Content*/
.dropdown {
  position: relative;
  display: inline-block;
}
#dropdown-content {
  z-index: 100;
  width: 250%;
  padding: 10%;
  display: none;
  position: absolute;
  text-align: left;
}
.dropdown:hover #dropdown-content {
  display: block;
}
