::-webkit-scrollbar {
    display: none;
}
body {
    background-color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
/*Header Formatting*/
header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #f2f6fc;
}
/*Footer Formatting*/
footer {
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #f2f6fc;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 60%;
}
/*Link Formatting*/
a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
}
a:hover {
    color: blue;
}
.dropdown {
    position: relative;
    display: inline-block;
}
/*Dropdown Content*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 5px;
    z-index: 1;
    width: 7%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #f2f6fc;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}